<h1>A new message was posted to your portfolio app</h1>

<div>
  <h3>Name:</h3>
  <p><%= @message.name %></p>
</div>

<div>
  <h3>Email:</h3>
  <p><%= @message.email %></p>
</div>

<div>
  <h3>Subject:</h3>
  <p><%= @message.subject %></p>
</div>

<div>
  <h3>Message:</h3>
  <p><%= @message.conetent %></p>
</div>
